* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: skyblue;
    width: 100%;
    height: 10%;
}

.logo {
    width: 100px;
    margin: 10px;
    display: flex;
    align-items: flex-start;
}

.menu-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    /* background-color: yellow;  */
    align-items: center;


    a {
        text-decoration: none;
        color: black;
        font-size: 0.8rem;
    }
}

.nav a {
    font-size: 1rem;
    font-weight: 600;
}

.menu-login {
    display: flex;
    list-style: none;
    column-gap: 15px;
    /* background-color: gray; */
    align-items: center;
}

main {
    width: 100%;
    height: 80%;
}

section {
    color: rgb(1, 1, 92);
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    /* background-color: blue; */

    h2 {
        font-size: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        margin: 40px;
    }

    .product {
        width: 20%;
        height: 400px;
        float: left;
        margin-bottom: 200px;

        img {
            width: 90%;
        }

        p {
            font-size: 1rem;
            margin: 10px 0;
            color: black;
            font-weight: 600;
        }
    }
}

#product{
    p{
        font-size: 1rem;
    }
}

footer {
    width: 100%;
    height: auto;
    margin: 0 30px;
    /* background-color: coral; */
    display: inline-block;

    h2 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1rem;
        margin: 10px 0;
    }
}

.cs-box {
    width: 300px;
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;

    a {
        text-decoration: none;
        list-style: none;
        color: black;
        font-size: 0.8rem;
    }

    img {
        width: 10%;
        vertical-align: -9px;
    }
}

.cs-box:hover {
    cursor: pointer;
    background-color: rgb(189, 236, 255);
}

@media screen and (max-width:768px) {
    body {
        width: 100%;
        height: auto;
    }

    header {
        height: 10%;
        /* height: 100px; */
        flex-wrap: wrap;
    }

    .logo {
        width: 80px;
        height: 22px;
    }

    .menu-nav {
        display: flex;
        justify-content: space-evenly;
    }

    .menu-login {
        a {
            line-height: 50px;
            text-align: right;
        }
    }

    .product {
        width: 50%;
        /* height: 200px; */
        float: left;
        /* margin-bottom: 200px; */

        img {
            width: 90%;
        }
    }

    /* 
        p {
            font-size: 1rem;
            margin: 10px 0;
            color: black;
            font-weight: 600;
        } */

        #product {
            position: relative;
            transform: translateY(-50%);
        
            p {
                font-weight: 400;
                font-size: 0.8rem;
            }
        }
        footer {
            text-align: center;
            height: auto;
            position: relative;
            transform: translateY(-100%);
            bottom: 5%;
        }
        
        .cs-box {
            margin: auto;
        }
}



